<div class="row">
  <div class="span12">
    <ul class="nav nav-pills">
      <li class="<%= 'active' if params[:no_geo].nil? %>"><a href="/news">Новости с позицией</a></li>
      <li class="<%= 'active' if params[:no_geo].present? %>"><a href="/news?no_geo=1">Новости без позиции</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span8">
    <% if @news.any? %>
        <h3>Новости [ <%= @news.count %> / <%= "%.1f" % (@news.count.to_f / @total.to_f * 100) %>% ]</h3>
        <ol class="news">
          <%= render 'layouts/news_entry' %>
        </ol>
        <%= will_paginate @news %>
    <% end %>
  </div>
</div>
